.hero {
  padding: 20px 5px 0px;
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

h1 {
  font-size: 58px;
}

.button {
  border-radius: 20px;
  border: 1px solid transparent;
  background-color: var(--blue-1);
  padding: 14px 30px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--black-2);
  font-weight: 900;
  margin-bottom: 40px;
}

.button:hover {
  border: 1px solid var(--blue-1);
  background-color: var(--blue-2);
  color: black;
}

.button:active {
  transform: scale(0.99);
}

@keyframes myAnimation {
  from {
    opacity: 0;
    transform: translate(0px, 100px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes circleAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overflowHidden {
  position: relative;
  overflow: hidden;
}

h1 {
  animation-name: myAnimation;
  animation-fill-mode: forwards;
  opacity: 0;
}

.animateContainer > .overflowHidden:nth-of-type(1) > h1 {
  animation-duration: 0.5s;
  animation-delay: 0s;
}

.animateContainer > .overflowHidden:nth-of-type(2) > h1 {
  animation-duration: 0.5s;
  animation-delay: 0.5s;
}

.animateContainer > .overflowHidden:nth-of-type(3) > h1 {
  animation-duration: 0.5s;
  animation-delay: 0.8s;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  animation-name: circleAnimation;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1s;
  animation-duration: 0.5s;
}

.imageFive{
  animation-name: myAnimation;
  animation-fill-mode: forwards;
  opacity: 0;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
}

.sideContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  opacity: 0;
  animation-name: myAnimation;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.sideContent > p {
  font-size: 20px;

  margin-bottom: 50px;
  color: var(--grey-1);
}

.sideContent > p:last-of-type{
    color: #fff;
    font-weight: 900;
}

@media (min-width: 640px) {
  .hero {
    padding: 60px 5px 130px;
  }

  h1 {
    font-size: 70px;
  }
}

@media (min-width: 1024px) {
  .hero {
    padding: 0px 5% 130px;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 10%;
  }

  h1 {
    font-size: 100px;
  }

  .sideContent{
    align-items: flex-start;
    max-width: 260px;
    text-transform: uppercase;
  }

  .sideContent p{
    max-width: 200px;
  }

}

@media (min-width: 1280px) {
    h1{
        font-size: 140px;
    }
}
